name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - uses: Platane/snk@v3
        id: snake-gif
        with:
          github_user_name: Tommyx66
          # PALETA PURPLE HAZE:
          # Snake: #00f2ff (Cyan)
          # Dots: Negro -> Púrpura Oscuro -> Púrpura Neón
          outputs: |
            dist/github-contribution-grid-snake.svg?color_snake=#00f2ff&color_dots=#0d1117,#3c096c,#7b2cbf,#9d4edd,#bd00ff
            dist/github-contribution-grid-snake-dark.svg?color_snake=#00f2ff&color_dots=#0d1117,#3c096c,#7b2cbf,#9d4edd,#bd00ff
            
      - uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
